<section class="">
  <div class="flex justify-between">
    <h3 class="text-lg font-medium text-gray-800 mt-4">Зарплата</h3>
    <button
      mat-fab
      [color]="buttonColor"
      type="button"
      (click)="changeVisibility()"
      class="text-3xl transform scale-[0.55] align-middle"
    >
      <mat-icon matSuffix>{{ buttonIcon }}</mat-icon>
    </button>
  </div>

  <div
    *ngIf="isVisible"
    [formGroup]="salaryForm"
    aria-describedby="salaryGroupError"
  >
    <mat-error id="salaryGroupError">
      <ng-container *ngIf="salaryForm.hasError('minGreaterThanMax')">
        Минимум больше или равен максимуму
      </ng-container>
    </mat-error>

    <app-currency-select formControlName="currency" [control]="currency" />

    <mat-form-field color="primary" class="w-full" appearance="fill">
      <mat-label>Минимум</mat-label>

      <input
        matInput
        type="number"
        formControlName="min"
        aria-describedby="minError"
      />

      <mat-error id="minError">
        <ng-container *ngIf="salaryForm.get('min')?.hasError('negative')">
          Должно быть положительным
        </ng-container>
      </mat-error>
    </mat-form-field>

    <mat-form-field color="primary" class="w-full" appearance="fill">
      <mat-label>Максимум</mat-label>

      <input
        matInput
        type="number"
        formControlName="max"
        aria-describedby="maxError"
      />

      <mat-error id="maxError">
        <ng-container *ngIf="salaryForm.get('max')?.hasError('negative')">
          Должно быть положительным
        </ng-container>
      </mat-error>
    </mat-form-field>
  </div>
</section>
