<app-header />

<div class="flex flex-row">
  <div
    class="relative flex h-[93vh] flex-col items-center justify-start px-[10px] py-2 bg-blue-600"
  >
    <h2 *ngIf="isForUser()" class="text-3xl font-semibold text-white mb-2">
      Ваши отклики
    </h2>
    <h2 *ngIf="isForCompany()" class="text-3xl font-semibold text-white mb-2">
      Кандидаты на вакансии
    </h2>
    <h3 class="text-xl text-red-300" *ngIf="chats.length === 0">
      Чаты не найдены
    </h3>
    <div class="h-1 w-full bg-blue-500 rounded-lg mb-5"></div>
    <div
      class="chat-container scroll-mx-1 overflow-y-auto"
      (scroll)="onChatsScroll($event)"
    >
      <app-compact-chat
        *ngFor="let chat of chats; let i = index"
        (click)="openChat(chat)"
        [chat]="chat"
        [application]="chat?.application"
        [isActivated]="i === activeChatIndex"
        [forRole]="forRole"
      />
    </div>
  </div>

  <div class="w-[80vw]">
    <div>
      <app-full-chat
        *ngIf="selectedChat"
        [chat]="selectedChat"
        [messages]="selectedChat.messages"
        [forRole]="forRole"
        [currentSenderId]="requestsId"
        [currentRecipientId]="getSelectedChatRecipientId()"
      />
    </div>
  </div>
</div>
