<div class="min-h-screen flex items-center justify-center bg-red-100">
  <div
    *ngIf="step === 1"
    class="w-full max-w-xl bg-white rounded-lg shadow-md p-8"
  >
    <h2 class="text-2xl font-bold text-gray-800 text-center">
      Создать аккаунт
    </h2>
    <form
      [formGroup]="registrationForm"
      (ngSubmit)="register()"
      class="space-y-6"
    >
      <mat-form-field class="w-full" appearance="fill">
        <mat-label>Имя</mat-label>
        <input
          matInput
          formControlName="firstName"
          type="text"
          placeholder="Введите ваше имя"
          required
          aria-describedby="firstNameError"
        />
        <mat-icon matSuffix>email</mat-icon>
        <mat-error
          id="firstNameError"
          *ngIf="registrationForm.get('firstName')?.errors"
        >
          <ng-container
            *ngIf="registrationForm.get('firstName')?.hasError('required')"
          >
            Имя обязательно.
          </ng-container>
        </mat-error>
      </mat-form-field>

      <mat-form-field class="w-full" appearance="fill">
        <mat-label>Фамилия</mat-label>
        <input
          matInput
          formControlName="lastName"
          type="text"
          placeholder="Введите вашу фамилию"
          required
          aria-describedby="lastNameError"
        />
        <mat-icon matSuffix>email</mat-icon>
        <mat-error
          id="lastNameError"
          *ngIf="registrationForm.get('lastName')?.errors"
        >
          <ng-container
            *ngIf="registrationForm.get('lastName')?.hasError('required')"
          >
            Фамилия обязательна.
          </ng-container>
        </mat-error>
      </mat-form-field>

      <mat-form-field class="w-full" appearance="fill">
        <mat-label>Email</mat-label>
        <input
          matInput
          formControlName="email"
          type="email"
          placeholder="Введите ваш email"
          required
          aria-describedby="emailError"
        />
        <mat-icon matSuffix>email</mat-icon>
        <mat-error
          id="emailError"
          *ngIf="registrationForm.get('email')?.errors"
        >
          <ng-container
            *ngIf="registrationForm.get('email')?.hasError('required')"
          >
            Email обязателен.
          </ng-container>
          <ng-container
            *ngIf="registrationForm.get('email')?.hasError('email')"
          >
            Неверный формат email.
          </ng-container>

          <ng-container
            *ngIf="registrationForm.get('email')?.hasError('existingEmail')"
          >
            Пользователь с таким email уже существует.
          </ng-container>
        </mat-error>
      </mat-form-field>

      <mat-form-field class="w-full" appearance="fill">
        <mat-label>Пароль</mat-label>
        <input
          matInput
          formControlName="password"
          [type]="hidePassword ? 'password' : 'text'"
          placeholder="Введите ваш пароль"
          required
          minlength="6"
          pattern="^(?=.*[A-Z])(?=.*\d)(?=.*[!%&])[A-Za-z\d!%&]{6,}$"
          aria-describedby="passwordError"
        />
        <mat-icon matSuffix (click)="togglePasswordVisibility()">
          {{ hidePassword ? "visibility_off" : "visibility" }}
        </mat-icon>
        <mat-error
          id="passwordError"
          *ngIf="registrationForm.get('password')?.errors"
        >
          <ng-container
            *ngIf="registrationForm.get('password')?.hasError('required')"
          >
            Пароль обязателен.
          </ng-container>
          <ng-container
            *ngIf="registrationForm.get('password')?.hasError('minlength')"
          >
            Минимум 6 символов.
          </ng-container>
          <ng-container
            *ngIf="registrationForm.get('password')?.hasError('pattern')"
          >
            Пароль должен содержать заглавную букву, цифру и спецсимвол (!%&).
          </ng-container>
        </mat-error>
      </mat-form-field>

      <mat-form-field class="w-full" appearance="fill">
        <mat-label>Подтвердите пароль</mat-label>
        <input
          matInput
          formControlName="confirmPassword"
          [type]="hideConfirmPassword ? 'password' : 'text'"
          placeholder="Подтвердите ваш пароль"
          required
        />
        <mat-icon matSuffix (click)="toggleConfirmPasswordVisibility()">
          {{ hideConfirmPassword ? "visibility_off" : "visibility" }}
        </mat-icon>
        <mat-error
          *ngIf="registrationForm.get('confirmPassword')?.hasError('mustMatch')"
        >
          Пароли должны совпадать.
        </mat-error>
        <mat-error
          *ngIf="registrationForm.get('confirmPassword')?.hasError('required')"
        >
          Подтверждение пароля обязательно.
        </mat-error>
      </mat-form-field>

      <div class="w-full">
        <label id="example-radio-group-label" class="block mb-2 font-medium">
          Выберите роль, которая лучше всего описывает цель использования
          платформы:
        </label>
        <mat-radio-group
          aria-labelledby="example-radio-group-label"
          class="flex flex-col mb-4"
          formControlName="choosedRole"
        >
          <mat-radio-button
            *ngFor="let role of appRoles"
            class="mb-2"
            [value]="role.roleName"
          >
            {{ role.text }}
          </mat-radio-button>

          <mat-error
            *ngIf="registrationForm.get('choosedRole')?.hasError('required')"
          >
            Выбор роли обязателен.
          </mat-error>
        </mat-radio-group>
      </div>

      <button
        mat-raised-button
        color="primary"
        class="w-full py-2 rounded-lg hover:bg-blue-600"
        type="submit"
      >
        Зарегистрироваться
      </button>
    </form>
  </div>

  <!-- Company -->
  <div
    *ngIf="step === 2"
    class="w-full max-w-xl bg-white rounded-lg shadow-md p-8"
  >
    <h2 class="text-2xl font-bold text-gray-800 text-center">
      Создать компанию
    </h2>
    <form [formGroup]="companyForm" (ngSubmit)="register()" class="space-y-6">
      <mat-form-field class="w-full" appearance="fill">
        <mat-label>Название компании</mat-label>
        <input
          matInput
          formControlName="companyName"
          type="text"
          placeholder="Введите название компании"
          required
          aria-describedby="companyNameError"
        />
        <mat-icon matSuffix>name</mat-icon>
        <mat-error
          id="companyNameError"
          *ngIf="companyForm.get('companyName')?.errors"
        >
          <ng-container
            *ngIf="companyForm.get('companyName')?.hasError('required')"
          >
            Название компании обязательно.
          </ng-container>
        </mat-error>
      </mat-form-field>

      <mat-form-field class="w-full" appearance="fill">
        <mat-label>Тип компании</mat-label>
        <input
          matInput
          formControlName="companyType"
          type="text"
          placeholder="Введите тип компании"
          required
          aria-describedby="companyTypeError"
        />
        <mat-icon matSuffix>type</mat-icon>
        <mat-error
          id="companyTypeError"
          *ngIf="companyForm.get('companyType')?.errors"
        >
          <ng-container
            *ngIf="companyForm.get('companyType')?.hasError('required')"
          >
            Тип компании обязателен.
          </ng-container>
        </mat-error>
      </mat-form-field>

      <mat-form-field class="w-full" appearance="fill">
        <mat-label>Email компании</mat-label>
        <input
          matInput
          formControlName="companyEmail"
          type="email"
          placeholder="Введите email компании"
          email
          aria-describedby="companyEmailError"
        />
        <mat-icon matSuffix>email</mat-icon>
        <mat-error
          id="companyEmailError"
          *ngIf="companyForm.get('companyEmail')?.errors"
        >
          <ng-container
            *ngIf="companyForm.get('companyEmail')?.hasError('email')"
          >
            Неверный email компании.
          </ng-container>
        </mat-error>
      </mat-form-field>

      <mat-form-field class="w-full" appearance="fill">
        <mat-label>Телефон компании</mat-label>
        <input
          matInput
          formControlName="companyPhone"
          type="tel"
          pattern="/^\d{10}$/"
          placeholder="Введите телефон компании"
          aria-describedby="companyPhoneError"
        />
        <mat-icon matSuffix>phone</mat-icon>
        <mat-error
          id="companyPhoneError"
          *ngIf="companyForm.get('companyPhone')?.errors"
        >
          <ng-container
            *ngIf="companyForm.get('companyPhone')?.hasError('pattern')"
          >
            Неверный телефон компании.
          </ng-container>
        </mat-error>
      </mat-form-field>

      <mat-form-field class="w-full" appearance="fill">
        <mat-label>Город компании</mat-label>
        <input
          matInput
          formControlName="companyCity"
          type="text"
          placeholder="Введите город компании"
        />
        <mat-icon matSuffix>city</mat-icon>
      </mat-form-field>

      <mat-form-field class="w-full" appearance="fill">
        <mat-label>Описание компании</mat-label>
        <textarea
          matInput
          formControlName="companyDescription"
          type="text"
          placeholder="Введите описание компании"
        ></textarea>
        <mat-icon matSuffix>description</mat-icon>
      </mat-form-field>

      <div class="w-full">
        <label class="mat-label">Логотип компании</label>
        <input
          type="file"
          (change)="onFileSelect($event)"
          placeholder="Выберите логотип компании"
          class="custom-file-input"
        />
      </div>

      <div class="flex align-middle justify-center">
        <button
          mat-raised-button
          color="warn"
          class="py-5 mr-5 rounded-lg hover:bg-gray-600"
          type="button"
          (click)="backToFirstStep()"
        >
          Назад
        </button>
        <button
          mat-raised-button
          color="primary"
          class="py-2 w-full rounded-lg hover:bg-blue-600"
          type="submit"
        >
          Завершить регистрацию
        </button>
      </div>
    </form>
  </div>
</div>
