<div class="flex">
  <input
    id="formInput"
    #formInput
    type="text"
    [(ngModel)]="newInput"
    [placeholder]="placeHolder ? placeHolder : 'Введите сообщение...'"
    class="flex-grow p-2 border-[3px] border-gray-300 rounded-l-lg focus:outline-none focus:border-blue-500"
    (keyup.enter)="onSubmit()"
  />
  <button
    (click)="onSubmit()"
    class="px-10 bg-blue-500 text-white rounded-r-lg hover:bg-blue-600 transition"
  >
    {{ buttonText ? buttonText : "Отправить" }}
  </button>
</div>
