<section class="p-6 bg-gray-100 rounded-lg shadow-md mt-3">
  <div class="flex justify-between">
    <h2 class="text-2xl font-bold text-gray-700 mb-4">Языки</h2>
    <button
      mat-fab
      color="accent"
      type="button"
      (click)="addLanguage()"
      class="text-3xl transform scale-[0.55] align-middle"
    >
      <mat-icon matSuffix>add</mat-icon>
    </button>
  </div>

  <form [formGroup]="languagesForm" (ngSubmit)="saveLanguages()">
    <ng-container formArrayName="languages">
      <hr *ngIf="languages.length > 0" class="border-t-1 border-blue-300" />

      <ng-container
        class="w-full"
        *ngFor="let languageForm of languages.controls; let i = index"
      >
        <div
          [formGroupName]="i"
          class="flex flex-row justify-evenly align-middle items-center"
        >
          <span class="text-xl">{{ i + 1 }}:</span>
          <mat-form-field color="primary" class="w-[40%]" appearance="fill">
            <mat-label>Название</mat-label>

            <input
              matInput
              formControlName="name"
              aria-describedby="languageNameError-{{ i }}"
              required
            />

            <mat-error id="languageNameError-{{ i }}">
              <ng-container
                *ngIf="languages.controls[i].get('name')?.hasError('required')"
              >
                Введите или удалите язык
              </ng-container>
            </mat-error>
          </mat-form-field>

          <mat-form-field color="primary" class="w-[40%]" appearance="fill">
            <mat-label>Уровень</mat-label>

            <input
              matInput
              formControlName="level"
              aria-describedby="languageLevelError-{{ i }}"
              required
            />

            <mat-error id="languageLevelError-{{ i }}">
              <ng-container
                *ngIf="languages.controls[i].get('level')?.hasError('required')"
              >
                Введите или удалите язык
              </ng-container>
            </mat-error>
          </mat-form-field>

          <div
            (click)="removeLanguage(i)"
            class="hover:cursor-pointer hover:bg-red-400 rounded-xl flex justify-center p-3 mb-[22px]"
          >
            <mat-icon matSuffix> close</mat-icon>
          </div>
        </div>
      </ng-container>
    </ng-container>

    <button mat-raised-button color="primary" type="submit">
      Сохранить языки
    </button>
  </form>
</section>
