<app-header />

<div class="min-h-screen flex flex-col items-center justify-start">
  <div class="my-5">
    <button
      class="w-[500px] scale-150"
      mat-raised-button
      color="primary"
      (click)="goToVacancyFormPage()"
    >
      <span class="text-base">Опубликовать вакансию</span>
    </button>
  </div>

  <div (click)="goToCompanyPage()">
    <span
      class="text-blue-800 underline cursor-pointer hover:text-[15px] hover:text-blue-500"
    >
      Посмотреть информацию о компании
    </span>
  </div>

  <div class="w-full max-w-3xl bg-[#e3e3e4] rounded-lg shadow-md p-8">
    <h1 class="text-center text-3xl mb-5">Информация о компании</h1>

    <form
      [formGroup]="companyForm"
      (ngSubmit)="updateCompany()"
      class="space-y-6"
    >
      <mat-form-field class="w-full" appearance="fill">
        <mat-label>Название</mat-label>
        <input
          matInput
          formControlName="name"
          type="text"
          placeholder="Введите название"
        />
        <mat-icon matSuffix>person</mat-icon>
      </mat-form-field>

      <mat-form-field class="w-full" appearance="fill">
        <mat-label>Описание</mat-label>
        <textarea
          matInput
          formControlName="description"
          type="text"
          placeholder="Введите описание"
        ></textarea>
        <mat-icon matSuffix>person</mat-icon>
      </mat-form-field>

      <mat-form-field class="w-full" appearance="fill">
        <mat-label>Город</mat-label>
        <input
          matInput
          formControlName="city"
          type="text"
          placeholder="Введите город"
        />
        <mat-icon matSuffix>city</mat-icon>
      </mat-form-field>

      <mat-form-field class="w-full" appearance="fill">
        <mat-label>Адрес</mat-label>
        <input
          matInput
          formControlName="address"
          type="text"
          placeholder="Введите адрес"
        />
        <mat-icon matSuffix>address</mat-icon>
      </mat-form-field>

      <mat-form-field class="w-full" appearance="fill">
        <mat-label>Email</mat-label>
        <input
          matInput
          formControlName="email"
          type="email"
          email
          placeholder="Введите email"
        />
        <mat-icon matSuffix>address</mat-icon>
      </mat-form-field>

      <mat-form-field class="w-full" appearance="fill">
        <mat-label>Телефон</mat-label>
        <input
          matInput
          formControlName="phone"
          type="tel"
          pattern="^(\+\d{1,2}\s?)?1?\-?\.?\s?\(?\d{3}\)?[\s.-]?\d{3}[\s.-]?\d{4,5}$"
          placeholder="Новый телефон"
          aria-describedby="phoneError"
        />
        <mat-icon matSuffix>phone</mat-icon>

        <mat-error id="phoneError">
          <ng-container *ngIf="companyForm.get('phone')?.hasError('pattern')">
            Неверный телефон
          </ng-container>
        </mat-error>
      </mat-form-field>

      <mat-form-field class="w-full" appearance="fill">
        <mat-label>Веб-сайт</mat-label>
        <input
          matInput
          formControlName="webSite"
          type="text"
          placeholder="Введите веб-сайт"
        />
        <mat-icon matSuffix>web</mat-icon>
      </mat-form-field>

      <mat-form-field class="w-full" appearance="fill">
        <mat-label>Тип</mat-label>
        <input
          matInput
          formControlName="type"
          type="text"
          placeholder="Введите тип компании"
        />
        <mat-icon matSuffix>type</mat-icon>
      </mat-form-field>

      <div class="file-input-wrapper">
        <button
          mat-raised-button
          color="primary"
          type="button"
          (click)="fileInput.click()"
        >
          Выбрать файл
        </button>
        <input
          #fileInput
          type="file"
          hidden
          (change)="onFileSelected($event)"
        />
        <span class="ml-10">{{ imageName }}</span>
        <div *ngIf="!image" class="mt-4">
          <img
            [src]="imageSrc"
            alt="Выбранное изображение"
            class="max-w-xs rounded shadow"
          />
        </div>

        <div *ngIf="imageLocalUrl" class="mt-4">
          <img
            [src]="imageLocalUrl"
            alt="Выбранное изображение"
            class="max-w-xs rounded shadow"
          />
        </div>
      </div>

      <button
        mat-raised-button
        color="primary"
        class="w-full py-2 rounded-lg hover:bg-blue-600"
        type="submit"
      >
        Сохранить
      </button>
    </form>
  </div>
</div>
